<td width="250">
    <table frame="box" width="100%">
        <tr>
            <td>
                <div>
                    <p>Account</p>
                    <hr>
                    <ul>
                        <li><a href="#">Change Password</a></li>
                    </ul>
                </div>
                <div>
                    <p>Project</p>
                    <hr>
                    <ul>
                        <li><a href="/ProjectManager/Create">Add Project</a></li>
                        <li><a href="/ProjectManager/all_project">View Project</a></li>
                    </ul>
                </div>
                <div>
                    <p>User</p><hr>
                    <ul>
                        <li><a href="/ProjectManager/assign_user">Assign User</a></li>
                    </ul>
                </div>
                <div>
                    <p>Task</p>
                    <hr>
                    <ul>
                        <li><a href="/ProjectManager/assign_Task">Add Task</a></li>
                        <li><a href="/ProjectManager/view_Task">View Task</a></li>
                    </ul>
                </div>
                <div>
                    <p>Comment</p>
                    <hr>
                    <ul>
                        <li><a href="#">Add Comment</a></li>
                        <li><a href="#">View Comments</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>

</td>

