<td width="250">
    <table frame="box" width="100%">
        <tr>
            <td>
                <div>
                    <p>Account</p>
                    <hr>
                    <ul>
                        <li><a href="/Auth/Change_password">Change Password</a></li>
                    </ul>
                </div>
                <div>
                    <p>Users</p>
                    <hr>
                    <ul>
                        <li><a href="/admin/all_user">All User</a></li>
                        <li><a href="/admin/Create">Add New User</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>


</td>
