@model PMTRepository.User_Info

@Html.Partial("_Sidebar")
<td align="center">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table width="100%" frame="box">
            <tr>
                <td>
                    <fieldset>
                        <legend><b>USER | CREATE</b></legend>
                        <br />
                        <form action="" method="post">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="100"></td>
                                    <td width="10"></td>
                                    <td width="230"></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td>Name</td>
                                    <td>:</td>
                                    <td><input name="name" type="text" required></td>
                                    <td></td>
                                </tr>
                                <tr><td colspan="4"><hr /></td></tr>
                                <tr>
                                    <td>User Name</td>
                                    <td>:</td>
                                    <td><input name="username" type="text" required></td>
                                    <td></td>
                                </tr>
                                <tr><td colspan="4"><hr /></td></tr>
                                <tr>
                                    <td>Password</td>
                                    <td>:</td>
                                    <td><input name="password" type="password" maxlength="6" required></td>
                                    <td></td>
                                </tr>

                                <tr><td colspan="4"><hr /></td></tr>
                                <tr>
                                    <td>Email</td>
                                    <td>:</td>
                                    <td>
                                        <input name="useremail" type="text" required>
                                        <abbr title="hint: sample@example.com"><b>i</b></abbr>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr><td colspan="4"><hr /></td></tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>:</td>
                                    <td>
                                        <input name="gender" type="radio" value="Male">Male
                                        <input name="gender" type="radio" value="Female">Female
                                        <input name="gender" type="radio" value="Other">Other
                                    </td>
                                    <td></td>
                                </tr>
                                <tr><td colspan="4"><hr /></td></tr>
                                <tr>
                                    <td valign="top">Date of Birth</td>
                                    <td valign="top">:</td>
                                    <td>
                                        <input name="Dob" type="date" required>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr><td colspan="4"><hr /></td></tr>
                                <tr>
                                    <td>Designation</td>
                                    <td>:</td>
                                    <td>
                                        <select name="designation">
                                            <option>Select</option>
                                            <option>Project Manager</option>
                                            <option>Developer</option>
                                            <option>QA</option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr><td colspan="4"><hr /></td></tr>
                                <tr>
                                    <td>Status</td>
                                    <td>:</td>
                                    <td>
                                        <select name="Status">
                                            <option>Select</option>
                                            <option>Active</option>
                                            <option>Blocked</option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                            <hr />
                            <input type="submit" value="Save">
                            <a href="/Admin/all_user">Back to All User</a>
                        </form>
                    </fieldset>
                </td>
            </tr>;
        </table>
    }

    <div>
        <a href="/admin/index">Home</a>
    </div>
  
