
@{
    ViewBag.Title = "Change_password";
}
@Html.Partial("_Sidebar")
<td>
    <fieldset>
        <legend><b>CHANGE PASSWORD</b></legend>
        <br />
        <form method="post">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="150"></td>
                    <td width="10"></td>
                    <td width="150"></td>
                    <td></td>
                </tr>
                <tr><td colspan="4"><hr /></td></tr>
                <tr>
                    <td><font size="3" color="green">New Password</font></td>
                    <td>:</td>
                    <td><input type="password" name="newPass" /></td>
                    <td></td>
                </tr>
                <tr><td colspan="4"><hr /></td></tr>
                <tr>
                    <td><font size="3" color="red">Retype New Password</font></td>
                    <td>:</td>
                    <td><input type="password" name="reNewPass" /></td>
                    <td></td>
                </tr>
            </table>
            <hr />
            <input type="submit" value="Update" />
            <label style="color:red;text-align:center">@ViewBag.messege </label>
        </form>
    </fieldset>
</td>